body{
    display: flex;
    flex-direction: column;
    background: #5E3AD4;
    margin: 0;
}

.header{
    background: #5e3ad4;
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;  
}

.header > .menu-buttons{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

#menu__toggle {
    opacity: 0;
}

.menu__btn {
    display: flex;
    align-items: center;  
    position: relative;
    left: 0%;
    width: 24px;
    height: 26px;
    cursor: pointer;
    z-index: 1;

    width: 10%;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000000;
}
.menu__btn > span::before {
    content: '';
    top: -8px;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
}

.header > .menu-buttons{
    display: block;
    position: fixed;
    visibility: visible;
    top: 0%;
    left: -120%;
    width: 100vw;
    margin: 0;
    padding: 50px 0 0 0;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}

.header > div > .vh{
    display: none;
}

.header > .menu-buttons > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header > .menu-buttons > div > a {
    text-align: center;
    width: 100%;
    height: 10%;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;

    border: none;
    color: #000000;
    text-decoration: none;
}

.header > .menu-buttons > div > a > iconify-icon{
    font-size: 46px;
}

.header > .menu-buttons > div > a:hover {
    background-color: #5e3ad4;
}

#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg) scale(0.8);
}

#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu-buttons {
    visibility: visible;
    left: 0;
}



.top_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-image: linear-gradient(180deg, rgba(217, 217, 217, 0) 82.61%, #5E3AD4 100%),
                        url("./images/84770f_6197f6bd0a9c41788f15876c8dc8e73b_mv2.webp");
    background-size: cover;
    height: 50vh;
}

.top_section > h1, h2{
    color: #ffffff;
    text-align: center;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
}

.top_section > h1{
    font-size: 20px;
    line-height: 28px;

    margin: 5% 0 2% 0;
}

.top_section > h2{
    font-size: 18px;
    line-height: 25px;
    margin: 2% 0 2% 0;
}

.top_section > button{
    background: #C00C6E;
    box-shadow: 0px 0px 40px 20px rgba(94, 58, 212, 0.5);
    border: 0px;
    border-radius: 70px;
    padding: 30px 50px;
    margin-top: 10%;

    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}

h1{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    margin: 0 5% 3% 5%;

    color: #FFFEFF;
}

.tiles{
    display: flex;
	flex-wrap: wrap;
}

.tiles > *{
    flex-grow: 1;
	width: 100%;
    height: 40vh;    
}

.tiles > img{
    width: 0;
}

.tile1{
    background: linear-gradient(225deg, rgba(115, 217, 231, 0.5) 0%, rgba(115, 217, 231, 0.15) 100%),
                white;
}

.tile2{
    background: linear-gradient(45deg, rgba(144, 215, 101, 0.5) 0%, rgba(144, 215, 101, 0.15) 100%),
                white;
}

.tile3{
    background: linear-gradient(315deg, rgba(196, 98, 192, 0.5) 0%, rgba(196, 98, 192, 0.15) 100%),
                white;
}

.tiles > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tiles > div > h2{
    padding: 0%;
    margin: 5%;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 40px;
    text-align: center;

    color: #5E3AD4;
}

.tiles > div > h3{
    margin: 5%;
    padding: 7%;
    padding-top: 0%;
    font-family: 'Lato', sans-serif;
    font-style:normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
}

.our_clubs{
    /* padding-top: 0vh;
    margin-top: 0vh; */
    background: linear-gradient(-30deg, #ee7752, #e73ccd, #9323d4, #28bd9d, #23d570);
	background-size: 200% 200%;
	animation: gradient 10s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.our_clubs > h2{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #000;

    margin: 1%;
}

.club_locations{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.club_locations > div{
    display: flex;
    flex-direction: column;
    background-size: cover;
    width: 45vw;
    height: 20vh;
    margin: 1%;
    border: 1px#63636390;
    border-radius: 30px;
    justify-content: end;

}


.club1{
    background-image: url("./images/ad420a_fd180f2f1ecf4ed780a9f72ce2280223_mv2_d_1970_1986_s_2.webp");
}

.club2{
    background-image: url("./images/a52054dd118bb13ab599d8f4db58de65.jpg");
}

.club3{
    background-image: url("./images/Vishneve_Vityanska_db3aeb5b16.jpg");
}


.club4{
    background-image: url("./images/modern-gym-interior-stylish-equipment-some-motion-blurred-unrecognizable-persons-128375952.jpg");
}

.club5{
    background-image: url("./images/EZ2A2226-1024x683.jpg");
}

.club6{
    background-image: url("./images/dc02e4a1ad45745726a954f90c83ce6e.jpg");
}


.club_locations > div > h3{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0 0 3px #000000, 0 0 5px #000000, 0px 4px 4px rgba(0, 0, 0, 0.35);
    margin-bottom: 4%;
    
}

.text_banner{   
    background-image: url("./images/gym-without-people-with-large-group-of-exercise-royalty-free-image-1587735074.jpg");
    background-size: cover;
    min-height: 60vh;
}

.blur{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    backdrop-filter: blur(3px);
}

.text_banner  h2{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);

    padding: 3%;
    padding-bottom: 0%;
}

.text_banner h3{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
    padding-left: 10%;
    padding-right: 10%;
}

.bottom_ad{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("./images/ad420a_a4005babf5224625a8ce3ddaf7fbd913_mv2_d_4608_2592_s_4_2.webp");
    background-size: cover;
    min-height: 70vh;
}

.bottom_ad h2{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0 0 3px #000000, 0 0 5px #000000, 0px 4px 100px rgba(0, 0, 0, 0.25);
}

.bottom_ad h3{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0 0 3px #000000, 0 0 5px #000000, 0px 4px 0px rgba(0, 0, 0, 0.25);
    padding-left: 10%;
    padding-right: 10%;
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons button{
    background: rgba(94, 58, 212, 0.8);
    border: 6px solid rgba(83, 66, 141, 0.5);
    box-shadow: 0px 0px 20px 10px rgba(141, 34, 206, 0.46);
    border-radius: 150px;

    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    
    width: 60vw;
    height: 11vh;
    margin: 5%;
}

footer{
    /* height: 35vh; */
    background-color: #000000;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: start;
}

footer .logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer .logo h3{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    margin: 5% 0 2% 0;
}


footer .logo h3 .half1{
    color: #5E3AD4;
}

footer .logo h3 .half2{
    color: #ffffff;
}

footer .logo h4{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 150.6%;
    text-align: center;
    color: #FFFFFF;
    margin: 0 0 2% 0;
}

footer .logo h4 br{
    display: none;
}

footer .tabs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 6%;

}

footer .tabs h5{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 150.6%;
  
    text-decoration-line: underline;
    color: #FFFFFF;

    margin-top: 1vh;
    margin-bottom: 1vh;
}

footer .contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    margin: 0 0 4% 0;

}

footer .contacts h4{
    display: none;
}


footer .contacts h5{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    display: flex;
    align-items: center;  

    color: #FFFFFF;
    margin: 1%;
}

footer > .socials{
    display: flex;
    flex-direction: column;
}

footer > .socials > h4{
    display: none;
}

footer > .socials > .logos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20%;
    margin-bottom: 10%;
    
}


footer > .socials > .logos > .facebook, .telegram{
    background: #5e3ad4;
    border-radius: 50%;
    border: none;
    height: 4vh;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    resize: both;

    /* margin-right: 4%; */
}

footer > .socials > .logos > .twitter, .insta{
    background: #ffffff;
    border-radius: 50%;
    border: none;
    height: 4vh;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;

    resize: both;

    /* margin-right: 4%; */

}

footer > .socials > .logos > button > iconify-icon{
    font-size: 2vh;
}